# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
data/
# Virtual Environment
venv/
env/
ENV/
venv3.12/
playwright-package/
main.exe
dist/
automation.log
tests/
tests-examples/
chrome/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Excel temp files
~$*.xlsx
~$*.xls

# OS specific
.DS_Store
Thumbs.db

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
